#fblob {
    height: 150px;
    width: 150px;
    top: 4%;
    left: 98%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    z-index: -1;
    filter: blur(1rem);
}

#sblob {
    height: 150px;
    width: 150px;
    top: 80%;
    left: -1%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    z-index: -1;
    filter: blur(1rem);
}

#recommended-products {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    column-gap: 15rem;
    grid-template-columns: auto auto auto;
    width: max-content;
}

#main-index-title {
    margin-top: 30px;
}

.product {
    width: 280px;
    height: 280px;
    padding: 40px;
    transition: transform .2s;
}

.product:hover {
    outline: solid 5px green;
    border-radius: 10px;
    transform: scale(1.2);
}

.internal-product-content {
    position: relative;
    height: inherit;
    width: inherit;
    margin: auto;
}

.internal-product-content > img {
    display: block;
    margin: auto;
    height: 190px;
    width: 200px;
    filter: grayscale(60%);
}

.product:hover > .internal-product-content > img {
    filter: grayscale(0%);
}

.product-info {
    display: block;
}

.product-title {
    width: max-content;
    display: block;
    margin-right: auto;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.product:hover > .internal-product-content > .product-info > .product-title {
    text-decoration: underline;
    cursor: pointer;
}

.product-price-button {
    display: block;
    width: max-content;
    margin-top: 10px;
    margin-right: auto;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    background-color: #28a745;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.product-price:hover {
    background-color: #208036;
    text-decoration: underline;
}

@media only screen and (min-width: 1366px) {
    #recommended-products {
        column-gap: 5rem;
    }

    .product {
        width: 210px;
        height: 200px;
    }

    .internal-product-content > img {
        height: 90px;
        width: 100px;
    }

    .icon {
        font-size: 28px;
    }

    .product-price-button {
        font-size: 20px;
    }

    #fblob {
        top: 80%;
        left: -1%;
    }
    
    #sblob {
        top: 4%;
        left: 87%;
    }
}