body {
    width: max-content;
    margin: auto;
}

/* Margen a main-wrapper */
#main-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* titulo principal pagina */
#main-body-title {
    text-align: center;
}

/* Estilos para la lista en general */
#navbar {
    margin-top: 20px;
}

/* Clase para anchors */
.redireccionable-element {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}

.redireccionable-element:hover {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: green;
}

/* Lista */
#navbar > ul {
    width: max-content;
    margin: auto;
    padding: 0;
}

/* Cada elemento de lista */
#navbar > ul > li {
    display: inline-block;
    padding: 5px;
}

/* Todos los elementos de lista */
#navbar > ul > li + li {
    margin-left: 50px;
}

#navbar > ul > li:last-child {
    position: relative;
    height: 35px;
    top: 25px;
}

#navbar > ul > li:last-child > a {
    display: inline-block;
    text-decoration: none;
    height: 35px;
}

#house-return {
    color: black;
}

#shopping-bag {
    color: black;
}

#counter-products-container {
    position: relative;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    bottom: 15px;
    left: 15px;
}

#counter {
    position: relative;
    color: white;
    font-size: 19px;
    font-weight: bolder;
    left: 7px;
    top: 2px;
}

#border {
    width: max-content;
    height: 3px;
    color: grey;
}

footer {
    color: white;
}

@media only screen and (max-width: 1366px) {
    .redireccionable-element {
        text-decoration: none;
        color: black;
        padding: 5px;
        font-size: 15px;
    }

    .redireccionable-element {
        font-size: 14px;
        font-weight: 540;
    }

    #navbar > ul > li + li {
        margin-left: 40px;
    }
}